<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Berkshire+Swash|Gabriela|Oranienbaum|Pacifico|Pattaya|Rochester&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
        <title>It's Meal Time!</title>
</head>
<body>
<img src="/assets/img/eatdrinkbehappy.jpg" width="400px">

{{{ body }}}
    
</body>
</html>