<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Pacifico|Pattaya|Rochester&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
        <title>It's Meal Time!</title>
</head>
<body background="/public/assets/img/foodbackground.jpg">

{{{ body }}}

<footer class="mealFooter">
    <div class="footer-copyright">
        <div class="container">
            <span class="grey-text text-lighten-4">© 2019 Gabriella Tannous</span>
            <a class="grey-text text-lighten-4 right" href="https://github.com/gtannous16">Git-Hub Repo</a>
        </div>
    </div>
</footer>
    
</body>
</html>