<h1>Eat Your Meal!</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                {{#each meals}}
                {{#unless this.devoured}}
                <div>
                    <form action="/meals/{{this.id}}?_method=PUT" method="POST">
                    <button type="submit" class='mealAvailable'>{{this.meal_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <div class="col s6">
                {{#each meals}}
                {{#if this.devoured}}
                <div class="mealEaten">
                    <div>
                        {{this.meal_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>

<h2>Add A Meal!</h2>

<div class="row">
    <div class="col s12">
        <form action="/meals" method="POST">
        <input type="text" id="meal" name="meal_name" placeholder="What Would You Like to Eat?">
        <button type="submit" class="addMealButton">Add Your Meal!</button>
        </form>
    </div>
</div>