

<main>
    <h1>Enjoy Your Meal!</h1>
    <div class="container">
        <div class="row">
            <div class="col s6" >
                <p>Devour Your Meal!</p>
                {{#each meals}}
                {{#unless this.devoured}}
                <div>
                    <form action="/meals/{{this.id}}?_method=PUT" method="POST">
                    <button type="submit" class='mealAvailable'>{{this.meal_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <div class="col s6">
                <p>Meals Devoured!</p> 
                {{#each meals}}
                {{#if this.devoured}}
                <div class="mealEaten">
                    
                    <div>
                       
                        {{this.meal_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>


<h2>Are You Craving Something Else? Add A Meal!</h2>

<div class="row">
    <div class="col s12" id="mealForm">
        <form action="/meals" method="POST">
        <input type="text" id="meal" name="meal_name" placeholder="What Would You Like to Eat?">
        <button type="submit" class="addMealButton">Add Your Meal!</button>
        </form>
    </div>
</div>
<footer class="mealFooter">
    <div class="footer-copyright">
        <div class="container">
            <span class="grey-text text-lighten-4">© 2019 Gabriella Tannous</span>
            <a class="grey-text text-lighten-4 right" href="https://github.com/gtannous16" target="_blank">Git-Hub Repo</a>
        </div>
    </div>
</footer>
</main>